{% extends 'dashLayout.html' %}
{% block content %}
                <div class="container-fluid" style="padding-left: 28px;">
                    <div class="row">
                        <div class="dashHeading">
                            <h4>Bills</h4>
                        </div>
                        <div class="add-New">
                            <a href="/bills/create" class="btn btn-dark">Add new</a>
                        </div>
                    </div>

                </div>
                <div class="container-fluid">
                    <div class="box">
                        <div class="box-header">
                            <form action="">
                                <div id="Billitems">
                                    <div class="container-fluid">
                                        <div class="row">

                                            <div class="col-md-5"><span>Bill number: </span><br>
                                                <input type="text" id="searchBills" placeholder="--Search by bill number" />
                                            </div>



                                        </div>
                                    </div>




                                </div>

                        </div>

                        </form>
                    </div>
                    <div class="box-body">
                        <div class="table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Bill number</th>
                                        <th>Vendor</th>
                                        <th>Items</th>
                                        <th>Amount</th>
                                        <th>Bill Date</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bill in bills %}
                                        <tr>
	                                        <td>{{bill.id}}</td>
	                                        <td>{{bill.vendor.name}}</td>
                                             <td>{{bill.items}}</td>
	                                        <td>{{bill.total}}</td>
                                            <td>{{bill.bill_date}}</td>
                                            <td><a class" href="/edit/bill/{{bill.id}}">edit</a>|<a href="/delete/bill/{{bill.id}}">delete</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                        </div>
<form style="float:right;" action="/bills" method="POST">
                                {% csrf_token %}
                                 <button class="btn btn-outline-secondary" type="submit" id="prev" value="prev" name="prev">Previous</button>
                                 <input class="form" style="width:40px;height:30px;" type="number" name="page" id="page" value="{{page}}" min="1" readonly>
                                 <button class="btn btn-outline-secondary" type="submit" id="next" value="next" name="next">Next</button>
</form>
                    </div>
                </div>
        </div>
       {% endblock %}