{% extends 'dashLayout.html' %}
{% block content %}
                <div class="container-fluid" style="padding-left: 28px;">
                    <div class="row">
                        <div class="dashHeading">
                            <h4> Edit Bill</h4>
                        </div>

                    </div>

                </div>
                <div class="container-fluid">
                    <div class="box">
                        <div class="box-header">
                            <form method="POST" action="/update/bill/{{bills.id}}">
                                {% csrf_token %}
                                <div id="newBillitems">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span>Bill Number:</span><br>
                                                <input type="text" placeholder="Enter bill number" readonly>
                                            </div>
                                            <div class="col-md-6">
                                                <span>Vendor:</span><br>
                                                <select name="vendor">
                                                    {% for vendor in vendors %}
                                                    <option value="{{vendor.id}}">{{vendor.name}}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <span>Bill date:</span><br>
                                                <input type="date" value="{{bills.bill_date}}" name="bill_date">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="table table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Item Name</th>
                                                            <th>Quantity</th>
                                                            <th>Price</th>
                                                            <th>Tax</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><input type="text" value="{{bills.items}}" name="items"/></td>
                                                            <td><input type="number" id="quantity" value="{{bills.quantity}}"  name="quantity" onchange="setTotal()" /></td>
                                                            <td><input type="number" id="price"  value="{{bills.price}}" name="price" onchange="setTotal()" /></td>
                                                            <td><input type="number" id="tax" value="{{bills.tax}}" name="tax" onchange="setTotal()"/></td>
                                                            <td><input type="number" id="total" style="border:none;" value="{{bills.total}}" name="total" readonly/></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="margin-top: 8%;margin-left: 1.5%;">
                                                <button type="submit" class="btn btn-dark">Save</button>
                                            </div>
                                        </div>
                                    </div>





                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %}