<!DOCTYPE html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href={% static "/dashStyle.css" %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Accounting</title>
</head>

<body>
    <header>
        <nav class="navbar-nav navbar-expand-md fixed-top" style="background-color: #212121;">
            <li class="nav-item">
                <button class="sideMenuToggler" type="button">
                    <span>
                        <img src={% static "/images/icons/menu.png" %} alt="menu button"
                            style="width: 40px; height: 30px;">
                    </span></button>
                <a class="navbar-brand" href="#"><span id="logoLabel"><img id="logo" src={% static "/images/Logo.png" %}
                            alt="Logo"><span class="text"> Accounting</span></a>

            </li>
        </nav>
    </header>

    <div class="wrapper d-flex">
        <div class="sideMenu">
            <div class="sidebar">
                <div class="navbar-nav">

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i><img src={% static "/images/icons/dashboard.png" %} alt="dashboard icon"></i><span
                                class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i><img src={% static "/images/icons/items.png" %} alt="dashboard icon"></i><span
                                class="text">Items</span>
                        </a>
                    </li>
                    <li class="nav-item tree1">
                        <a href="#" class="nav-link">
                            <i><img src={% static "/images/icons/income.png" %} alt="income icon"></i><span
                                class="text">Income</span>
                            <i class="arrow"><img src={% static "images/icons/arrow.png" %}
                                    style="height: 15px; width: 15px;" alt=""></i>
                        </a>
                        <ul class="nested1">
                            <a href="#">
                                <li>Invoices</li>
                            </a>
                            <a href="#">
                                <li>Customers</li>
                            </a>
                        </ul>
                    </li>
                    <li class="nav-item tree2">
                        <a href="#" class="nav-link">
                            <i><img src={% static "/images/icons/expense.png" %} alt="income icon"></i><span
                                class="text">Expense</span>
                            <i class="arrow"><img src={% static "/images/icons/arrow.png" %}
                                    style="height: 15px; width: 15px;" alt=""></i>
                        </a>
                        <ul class="nested2">
                            <a href="#">
                                <li>Bills</li>
                            </a>
                            <a href="#">
                                <li>Vendors</li>
                            </a>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
        <div class="content">
            <main>
                <div class="container-fluid" style="padding-left: 28px;">
                    <div class="row">
                        <div class="dashHeading">
                            <h4>Bills</h4>
                        </div>
                        <div class="add-New">
                            <button type="button" class="btn btn-primary">Add new</button>
                        </div>
                    </div>

                </div>
                <div class="container-fluid">
                    <div class="box">
                        <div class="box-header">
                            <form action="">
                                <div id="Billitems">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div><span>Search: </span><br>
                                                <input type="text" placeholder="Type to search" />
                                            </div>
                                            <div>
                                                <span>Category:</span><br>
                                                <input list="Category" placeholder="Select your category">
                                                <datalist>

                                                    <!-- This will be used to store categories stored by the user -->
                                                </datalist>
                                            </div>
                                            <div><span>Bill number: </span><br>
                                                <input type="text" placeholder="--Enter bill number" />
                                            </div>
                                            <div><span>Vendor: </span><br>
                                                <input type="text" placeholder="--Enter vendor" />
                                            </div>
                                            <div><span>Select date: </span><br>
                                                <input type="date" placeholder="--Enter vendor" />
                                            </div>

                                            <div>
                                                <button type="submit" class="btn btn-dark"
                                                    style="margin-top: 40%;">Filter</button>
                                            </div>
                                        </div>
                                    </div>




                                </div>

                        </div>

                        </form>
                    </div>
                    <div class="box-body">
                        <div class="table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Bill number</th>
                                        <th>Vendor</th>
                                        <th>Amount</th>
                                        <th>Bill Date</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
        </div>
        </main>
    </div>
    </div>












    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src={% static "/dashScript.js" %}></script>
</body>

</html>