<!DOCTYPE html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href={% static "/stylesheets/dashStyle.css" %}>
    <link rel="stylesheet" href={% static "/stylesheets/bootstrap.min.css" %}>
    <script type="text/javascript" src={% static "scripts/jquery-3.4.1.min.js" %}></script>
    <script type="text/javascript" src={% static "scripts/Chart.min.js" %}></script>
    <title>Accounting</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top" style="background-color: #212121;">
            <li class="nav-item">
                <button class="sideMenuToggler" type="button">
                    <span>
                        <img src={% static "/images/icons/menu.png" %} alt="menu button" style="width: 40px; height: 30px;">
                    </span></button>
                <a class="navbar-brand" href="/dashboard"><span id="logoLabel"><img id="logo" src={% static "/images/Logo.png" %}
                            alt="Logo"><span class="text"> Accounting</span></a>

            </li>
            <li class = "nav-item ml-auto" style="margin-right:40px;"><a style="color: #878d8d;" href="/logout">Logout</a></li>



        </nav>
    </header>

    <div class="wrapper d-flex">
        <div class="sideMenu">
            <div class="sidebar">
                <div class="navbar-nav">

                    <li id="dashboard1" class="nav-item active">
                        <a href="/dashboard" class="nav-link" id="dashboard">
                            <i><img src={% static "/images/icons/dashboard.png" %} alt="dashboard icon"></i><span
                                class="text">Dashboard</span>
                        </a>
                    </li>
                    <li id="items1" class="nav-item">
                        <a href="/items" class="nav-link" id="items">
                            <i><img src={% static "/images/icons/items.png" %} alt="items icon"></i><span
                                class="text">Items</span>
                        </a>
                    </li>
                    <li id="invoices" class="nav-item">
                        <a href="/invoices" class="nav-link">
                            <i><img src={% static "/images/icons/bills.png" %} alt="invoice icon"></i><span
                                class="text">Invoices</span>
                        </a>
                    </li>
                    <li id="customers" class="nav-item">
                        <a href="/customers" class="nav-link">
                            <i><img src={% static "/images/icons/customers.png" %} alt="customers icon"></i><span
                                class="text">Customers</span>
                        </a>
                    </li>
                    <li id="bills" class="nav-item">
                        <a href="/bills" class="nav-link">
                            <i><img src={% static "/images/icons/bills.png" %} alt="bill icon"></i><span
                                class="text">Bills</span>
                        </a>
                    </li>
                    <li id="vendors" class="nav-item">
                        <a href="/vendors" class="nav-link">
                            <i><img src={% static "/images/icons/customers.png" %} alt="vendor icon"></i><span
                                class="text">Vendors</span>
                        </a>
                    </li>
                </div>
            </div>
        </div>
        <div class="content">
            <main style="margin-top:40px;">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <script type="text/javascript" src={% static "scripts/dashScript.js" %}></script>
</body>

</html>