<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href={% static '/stylesheets/style.css' %}>
    <link rel="stylesheet" href={% static "/stylesheets/bootstrap.min.css" %}>
    <script type="text/javascript" src={% static "scripts/jquery-3.4.1.min.js" %}></script>
    <script type="text/javascript" src={% static '/scripts/bootstrap.min.js' %}></script>
    <title>Accounting</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-md fixed-top">
            <a class="navbar-brand" style="color: white; font-size: 30px;" href="/index"><span id="logoLabel"><img id="logo"
                        src={% static '/images/Logo.png' %} alt="Logo">Accounting</span></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                <span>
                    <img src={% static '/images/menu.png' %} alt="menu button" style="width: 40px; height: 30px;">
                </span></button>

            <div class="collapse navbar-collapse" id="collapse_target">
                <ul class="navbar-nav ml-auto lists">
                    <li>
                        <a class="nav-link" href="/index">home</a>
                    </li>
                    
                    <li class="nav-item dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Get Started
                        </a>
                        <div class="dropdown-menu">
                            <a class="nav-link" style="color: black;" href="/signup">Signup</a>
                            <a class="nav-link login" style="color: black;" href="#">Login</a>

                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link d-md-none" href="/signup">register</a>
                        <a class="nav-link d-md-none login" data-toggle="collapse" data-target="#collapse_target" href="#">login</a>
                    </li>
                </ul>
            </div>

        </nav>
    </header>
 {% block content %}
    {% endblock %}
<div class="LoginForm">
        <div class="container">
            <div class="row" style="justify-content: center;">

                <div class="card bg-light col-lg-5 col-xs-auto">
                    <article class="card-body mx-auto" style="max-width: 600px;">
                        <div class="close">+</div>
                        <h4 class="card-title mt-3 text-center">login</h4>
                        {% for message in messages %}
                        <script>alert('{{message}}')</script>

                        {% endfor %}
                        <form method="POST" action="/entry">
                            {% csrf_token %}
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src={% static '/images/icons/Email.png' %} alt="email-icon">
                                    </span>
                                </div>
                                <input name="email" class="form-control" placeholder="Email address" type="email" />
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src={% static '/images/icons/lock.png' %} alt=""></span>
                                </div>
                                <input name="password" class="form-control" placeholder="Password" type="password">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login </button>
                            </div> <!-- form-group// -->
                            <p class="text-center">Don't have an account? <a href="/signup">Register</a> </p>
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>


        </div>
    </div>
 <footer>
        <div class="container-fluid copyrights" style="background-color: #333;">

            <div class="row">
                <div class="col-lg-2">
                    <p>Copyright&#169;accounting</p>
                </div>
            </div>

        </div>
    </footer>

    <script type="text/javascript" src={% static '/scripts/script.js' %}></script>
</body>

</html>