{% extends 'dashLayout.html' %}
{% block content %}
                <div class="container-fluid" style="padding-left: 28px;">
                    <div class="row">
                        <div class="dashHeading">
                            <h4>Invoices</h4>
                        </div>
                        <div class="add-New">
                            <a href="/invoice/create" class="btn btn-dark">Add new</a>
                        </div>
                    </div>

                </div>
                <div class="container-fluid">
                    <div class="box">
                        <div class="box-header">
                            <form action="">
                                <div id="Invoiceitems">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <span>Invoice number: </span><br>
                                                <input type="text" id="searchInv" placeholder="--Search by invoice number"/>
                                            </div>




                                        </div>
                                    </div>




                                </div>

                        </div>

                        </form>
                    </div>
                    <div class="box-body">
                        <div class="table table-responsive">
                            <table class="table">
                                    <tr>
                                        <th>Invoice number</th>
                                        <th>Customer ID</th>
                                        <th>Items</th>
                                        <th>Amount</th>
                                        <th>Invoice Date</th>
                                        <th>Action</th>

                                    </tr>
                                    {% for invoice in invoices %}
                                        <tr>
	                                        <td>{{invoice.id}}</td>
	                                        <td>{{invoice.customer.name}}</td>
                                             <td>{{invoice.items}}</td>
	                                        <td>{{invoice.total}}</td>
                                            <td>{{invoice.invoice_date}}</td>
                                            <td><a class" href="/edit/invoice/{{invoice.id}}">edit</a>|<a href="/delete/invoice/{{invoice.id}}">delete</a></td>
                                        </tr>
                                    {% endfor %}
                            </table>
                        </div>
                            <form style="float:right;" action="/invoices" method="POST">
                                {% csrf_token %}
                                 <button class="btn btn-outline-secondary" type="submit" id="prev" value="prev" name="prev">Previous</button>
                                 <input class="form" style="width:40px;height:30px;" type="number" name="page" id="page" value="{{page}}" min="1" readonly>
                                 <button class="btn btn-outline-secondary" type="submit" id="next" value="next" name="next">Next</button>
</form>
                    </div>
                </div>
        </div>
<script>
$(document).ready(()=>{
		$(".sidebar").find(".active").removeClass("active");
		$("#invoices").addClass("active")
		});
		</script>
       {% endblock %}