{% extends 'homeLayout.html' %}
{% block content %}
{% load static %}
    <section style="height: 40vh;">
        <div class="signUp-background">
            <div class="container img-content-signup">
                <div class="row">
                    <div class="col-xs-auto">
                        <h1>Signup</h1>
                        <h5>Enter your details</h5>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <main>
        <div class="container-fluid signUpform p-0">
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 600px;">
                    <h4 class="card-title mt-3 text-center">Create an Account</h4>
                    <p class="text-center">Get started with your free account</p>

                    <form id="registration_form" method="POST" action="/signup">
                        {% csrf_token %}

                         <span class="error_form" id="name_error_message"></span>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src={% static '/images/icons/User.png' %} alt="user icon"></span>
                            </div>
                            {{ usersForm.fullname }}

                        </div>
                        <span class="error_form" id="email_error_message"></span>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src={% static '/images/icons/email.png' %} alt="email-icon">
                                </span>
                            </div>
                            {{ usersForm.email }}
                        </div> <!-- form-group// -->
                            <span class="error_form" id="password_error_message"></span>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src={% static '/images/icons/lock.png' %} alt=""></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Create password" size="60" id="password" required="">
                        </div> <!-- form-group// -->
                        <span class="error_form" id="rePsw_error_message"></span>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src={% static '/images/icons/lock.png' %} alt=""></span>
                            </div>
                            {{ usersForm.password }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
                        </div>
                        <p class="text-center">Already have an account? <a href="#" class="login">Log In</a> </p>
                    </form>
                </article>
            </div> <!-- card.// -->
            </article>
        </div>
    </main>
{% endblock %}