html,
body {
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0;

}

h1,
h2,
h3,
h4,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

p {
    font-size: 18px;
}

/* navigation bar */
nav.navCustom {
    background-color: rgb(250, 248, 248);



}

nav.navCustom .lists li a {
    color: black;
}

nav.navCustom #logoLabel {
    color: black;
    font-size: 20px;
    transition: .3s;
}

nav.navCustom #logo {
    height: 60px;
    width: 60px;
    transition: .3s;
}
nav img {
    filter: invert(40%);
}


.lists li a {
    margin-left: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 500;

}

.lists li a:hover {
    transition: .3s;

}



#logo {
    height: 70px;
    width: 70px;

}

/* index page css */
button.getStarted {
    border-radius: 100px;
    background-color: white;
    border-color: white;
    color: black;
    text-transform: uppercase;


}

button.getStarted:hover {
    background-color: black;
    border-color: black;
    color: white;
    transition: .2s;
}

.index-background {
    background: url(../images/Wall.png);
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeats;

}


.img-content {
    top: 30%;
    position: relative;
    color: white
}

/* signup page css */
.signUp-background {
    background: url(../images/Wall.png);
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeats;
}

.img-content-signup {
    top: 40%;
    position: relative;
    color: white
}



.signUpform img {
    height: 20px;
    width: 20px;
}

.LoginForm img {
    height: 20px;
    width: 20px;
}

.LoginForm {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
}

.close {
    position: absolute;
    top: 0;
    right: 2%;
    transform: rotate(45deg);
    cursor: pointer;
}

/* footer */

.copyrights {
    background-color: #333;
    color: rgba(255, 255, 255, 0.25);
    padding-top: 1%;
    padding-bottom: 1%;
}
.error_form{
color:red;
}